body {
  margin: 0;
  position: relative;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  background: green;
}

.flex {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}








.content-btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  display: inline-block;
  vertical-align: top;
}

.content-btn {
  color: #ffffff;
  background: #ee3643;
}

.content-btn:hover {
  background: #ca2c37;
}

.content-btn:active {
  background: #ba2732;
}

.transparent-btn {
  color: #ffffff;
  background: rgba(0,0,0,0.1);
}

.transparent-btn:hover {
  background: rgba(0,0,0,0.2);
}

.transparent-btn:active {
  background: rgba(0,0,0,0.3);
}








.main-header {
  background: #f4f7f9;
  padding-bottom: 60px;
  margin-bottom: 58px;
}

.header-top {
  background: #293449;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.header-top .container {
  display: flex;
  align-items: flex-start;
}

.header-logo {
  width: 220px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ee3643;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo img {
  width: 110px;
  height: 18px;
}

.header-logo:hover {
  background: #ca2c37;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
}

.header-logo:active {
  background: #ba2732;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
}

.search-form {
  width: 270px;
  margin: 0;
  padding: 0;
}

.search-form input {
  display: block;
  border: none;
  line-height: 18px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.header-top a {
  color: #ffffff;
  text-decoration: none;
}

.bookmarks, .cart {
  width: 150px;
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
  background: #293449;
}

.bookmarks:hover, .cart:hover {
  background: #212a3a;
}

.bookmarks:active, .cart:active {
  background: #161d29;
  color: rgba(255,255,255,0.6);
}

.checkout {
  background: #63a63e;
  width: 150px;
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
}

.checkout:hover {
  background: #5fbb2d;
}

.checkout:active {
  background: #518534;
  color: rgba(255,255,255,0.5);
}




.header-middle {
  font-family: "Cuprum", "Arial", sans-serif;
  padding-top: 46px;
  padding-bottom: 37px;
}

.header-middle .container {
  display: flex;
}

.site-title {
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 52px;
  margin-right: 68px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;
  background: #ccc;
}

.header-address {
  width: 270px;
  margin-right: 50px;
  text-align: center;
  font-style: normal;
  background: #ccc;
}

.header-tel {
  width: 264px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 3px solid #000000;
  margin: 0;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-location {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.user-block {
  width: 300px;
  background: #ccc;
  align-self: flex-start;
}

.unauthorized {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.unauthorized a {
  color: #000000;
  text-decoration: none;
  padding: 12px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  background: #ffffff;
  box-sizing: border-box;
}

.unauthorized a:hover {
  color: #ee3643;
}

.unauthorized a:active {
  color: rgba(0,0,0,0.3);
}

.user-login {
  width: 121px;
  margin-right: 10px;
}

.user-registration {
  width: 150px;
}

.user-wrap {
  width: 277px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
  background: #ffffff;
  display: flex;
  align-items: center;
  line-height: 21px;
}

.user-account {
  font-size: 21px;
  padding-left: 37px;
  color: #000000;
  text-decoration: none;
}
.user-account:hover {
  color: #ee3643;
}

.user-account:active {
  color: rgba(0,0,0,0.3);
}

.user-logout {
  font-size: 0;
  width: 20px;
  height: 18px;
  background: black;
  margin-left: auto;
}

.user-links {
  padding-left: 18px;
}

.user-links a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  margin-right: 28px;
}

.user-links a:hover {
  color: #ee3643;
}

.user-links a:active {
  color: rgba(50,66,92,0.3);
}




.main-nav {
  width: 940px;
  padding: 0 10px;
  background: red;
  margin: 0 auto;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
}

.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #32425c;
  display: flex;
  justify-content: center;
}

.main-nav li {
  flex-grow: 1;
}

.main-nav a {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  display: block;
  text-decoration: none;
  background: #32425c;
  border-bottom: 5px solid #293449;
}

.main-nav li:first-of-type a {
  padding-left: 50px;
}

.main-nav li:last-of-type a {
  padding-right: 50px;
}

.main-nav a:hover {
  background: #293449;
}

.main-nav a:active {
  background: #1d2739;
  border-bottom: 5px solid #1d2739;
  color: rgba(255,255,255,0.5);
}




.promo {
  margin-bottom: 53px;
  background: lightgreen;
}

.promo-top {
  display: flex;
  flex-wrap: wrap;
}

.promo-block {
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.promo-top div:nth-of-type(3n) {
  margin-right: 0;
}

.promo-bottom {
  display: flex;
}

.slider {
  width: 620px;
  height: 266px;
  background: black;
}

.promo-wrap {
  width: 300px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.promo-wrap div {
  margin-right: 0;
}

.promo-wrap div:last-of-type {
  margin-bottom: 0;
}

.promo-block .content-btn {
  width: 135px;
}

.promo-block-materials {
  background: #ffbf47;
}

.promo-block-instruments {
  background: #3bbce3;
}

.promo-block-equipment {
  background: #dc91d8;
}

.promo-block-special-offers {
  background: #8ed78f;
}

.promo-block-shipping {
  background: #ffc047;
}




.section-header {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: red;
}

.section-header h2, .section-header h1 {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  background: white;
}

.inner-page .section-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-header .content-btn {
  width: 253px;
}




.popular-products-list {
  background: lightgreen;
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: 220px;
  height: 318px;
  border: 1px solid red;
  box-sizing: border-box;
  background: #ccc;
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-item img {
  width: 218px;
  height: 170px;
}

.popular-products-list .product-item:nth-of-type(4n) {
  margin-right: 0;
}





.popular-manufacturers {
  background: lightblue;
  margin-bottom: 65px;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
}

.manufacturers-list a {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturers-list a:nth-of-type(4n) {
  margin-right: 0;
}

.manufacturers-list img {
  display: block;
}




.services {
  background: lightgreen;
  padding-top: 40px;
  padding-bottom: 98px;
}

.services-header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.services-text {
  width: 430px;
  background: white;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 70px;
}

.services-slider {
  height: 186px;
  background: black;
}




.index-wrap {
  padding-top: 80px;
  padding-bottom: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: lightblue;
}

.aboutus {
  width: 560px;
  background: yellow;
}

.aboutus-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.aboutus-text {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 25px;
}

.aboutus-text:last-of-type {
  width: 410px;
  margin-bottom: 20px;
}

.aboutus .content-btn {
  width: 220px;
}

.transport-companies {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 36px;
}

.transport-companies li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 20px;
}

.transport-companies li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: block;
  width: 25px;
  height: 2px;
  background: #ee3643;
}

.transport-companies li:last-of-type {
  margin-bottom: 0;
}

.aboutus .btn {
  width: 220px;
  text-align: center;
}

.contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts {
  width: 300px;
  background: yellow;
}

.contacts-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 26px;
}

.contacts-text {
  width: 200px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", "Arial", sans-serif;
  margin-bottom: 30px;
}

.map-link {
  display: block;
  margin-bottom: 41px;
}

.map-link img {
  display: block;
}

.contacts .content-btn {
  width: 300px;
}




.main-footer {
  background: #32425c;
}

.footer-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-logo {
  width: 220px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ee3643;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo img {
  width: 138px;
  height: 23px;
}

.footer-logo:hover {
  background: #ca2c37;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
}

.footer-logo:active {
  background: #ba2732;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
}

.footer-nav {
  width: 620px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 6px;
  background: black;
}

.footer-nav-link {
  margin-left: 60px;
  background: red;
}

.footer-nav-link a {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #f3f7f9;
  text-decoration: none;
}

.footer-nav-link a:hover {
  text-decoration: underline;
}

.footer-nav-link a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}




.footer-middle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-top: 28px;
  padding-bottom: 48px;
  display: flex;
  background: black;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-address {
  font-style: normal;
  color: #f3f7f9;
  width: 330px;
}

.popular-links {
  width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  background: white;
}

.popular-link {
  margin-left: 60px;
  background: red;
}

.popular-link a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
  text-decoration: none;
}

.popular-link a:hover {
  text-decoration: underline;
}

.popular-link a:active {
  color: rgba(255,209,128,0.5);
  text-decoration: none;
}




.footer-bottom {
  background: #293449;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 38px;
  padding-bottom: 38px;
}

.footer-bottom .container {
  display: flex;
}

.copyright {
  width: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 150px;
}

.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  display: flex;
}

.socials li {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
}

.socials li:last-child {
  margin-right: 0;
}

.socials a {
  width: 100%;
  height: 100%;
  display: block;
}

.developer {
  margin-left: auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.developer-contacts {
  width: 140px;
  background: red;
}

.developer-link {
  width: 110px;
  background: red;
}

.developer a {
  color: #ffd180;
  text-decoration: none;
}

.developer a:hover {
  text-decoration: underline;
}

.developer a:active {
  color: #ee3643;
  text-decoration: none;
}




.inner-page .main-header {
  margin-bottom: 0;
}

.breadcrumbs {
  height: 58px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background: lightgreen;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs li {
  margin-left: 18px;
  margin-right: 18px;
}

.breadcrumbs li:first-of-type {
  width: 14px;
  height: 12px;
  background: red;
  margin-left: 0;
  font-size: 0;
}

.breadcrumbs a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}












.columns-container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  background: green;
  display: flex;
}

.filter-column {
  font-family: "PTSans", "Arial", sans-serif;
  width: 220px;
  align-self: flex-start;
  text-transform: uppercase;
  background: yellow;
}

.filter-column fieldset {
  background: #ccc;
}

.filter-column legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  background: blue;
}

.filter-column label {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.filter-caption {
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 12px;
  background: red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}

.price-filter {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid black;
}

.price-filter legend {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.price-range {
  height: 80px;
  background: black;
  margin-bottom: 10px;
}

.values-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values-wrap input {
  text-align: center;
  width: 95px;
  height: 38px;
  padding: 0;
  margin: 0;
  border: none;
}

.manufacturers-filter {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 21px;
  border: none;
  border-bottom: 1px solid black;
}

.manufacturers-filter legend {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.manufacturers-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-filter li {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 17px;
}

.manufacturers-filter li:last-of-type {
  margin-bottom: 0;
}

.manufacturers-filter input {
  width: 27px;
  height: 23px;
}

.manufacturers-filter label {
  margin-left: 6px;
}

.power-filter {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.power-filter legend {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.power-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.power-filter li {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 17px;
}

.power-filter li:last-of-type {
  margin-bottom: 0;
}

.power-filter input {
  width: 25px;
  height: 25px;
}

.power-filter label {
  margin-left: 8px;
}

.submit-btn {
  margin-top: 59px;
}









.result-column {
  background: yellow;
  width: 700px;
  margin-left: auto;
}

.result-sorting {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ccc;
  margin-bottom: 20px;
}

.sorting-caption {
  margin-right: 130px;
}

.sorting-variants {
  width: 400px;
  background: red;
}

.sorting-variants a {
  margin-left: 28px;
  margin-right: 28px;
  background: white;
}

.sorting-variants a:first-of-type {
  margin-left: 0;
}

.sorting-variants a:last-of-type {
  margin-right: 0;
}

.sorting-triangles {
  margin-left: auto;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting-triangles a {
  width: 10px;
  height: 10px;
  background: red;
  font-size: 0;
}









.result-products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
}



.result-products-list .product-item:nth-of-type(3n) {
  margin-right: 0;
}

/*

.product-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  text-decoration: line-through;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background: #ee3643;
}

.-btn {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 18px;
}

.buy-btn {
  color: #ffffff;
  background: #63a63e;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 7px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid #367315;
}

.product-item .product-actions {
  display: none;
}

.buy-btn:hover {
  background: #5fbb2d;
  border-bottom: 3px solid #367315;
}

.buy-btn:active {
  background: #518534;
  border-bottom: 3px solid #518534;
}

.bookmark-btn {
  color: #32425c;
  text-transform: uppercase;
  width: 135px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: none;
  border: 3px solid #63a63e;
}

.bookmark-btn:hover {
  border: 3px solid #32425c;
}

.bookmark-btn:active {
  color: rgba(50,66,92,0.3);
  border: 3px solid #c1c6ce;
}

*/





.pagination {
  height: 38px;
  background: red;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.pagination li {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 38px;
  height: 38px;
  background: lightgreen;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li:last-of-type {
  width: 140px;
}

.pagination a {
  text-decoration: none;
}







.page-description {
  margin: 0;
  margin-top: 60px;
  padding-top: 65px;
  padding-bottom: 70px;
  background: red;
}

.description-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.description-text {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}






.writeus-popup {
  position: absolute;
  z-index: 10;
  bottom: 210px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  padding-top: 48px;
  background: pink;
  border-top: 7px solid red;
}

.popup-close {
  width: 21px;
  height: 21px;
  border: none;
  background: red;
  position: absolute;
  top: 9px;
  right: 9px;
  font-size: 0;
}

.writeus-popup label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  display: block;
  margin-bottom: 13px;
}

.writeus-popup input {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid black;
}

.writeus-popup textarea {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #a9a9a9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 114px;
  border: 2px solid black;
}

.writeus-top {
  width: 460px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background: white;
}

.writeus-narrow {
  width: 220px;
}

.writeus-middle {
  width: 460px;
  margin: 0 auto;
  margin-bottom: 37px;
  background: white;
}

.writeus-bottom {
  width: 100%;
  padding-top: 37px;
  padding-bottom: 37px;
  background: yellow;
  text-align: center;
}

.writeus-popup .content-btn {
  width: 460px;
}









.map-popup {
  width: 940px;
  height: 446px;
  position: absolute;
  bottom: 357px;
  left: 50%;
  margin-left: -470px;
  background: black;
  display: none;
}

.map-popup iframe {
  display: block;
  width: 100%;
  height: 100%;
}






.addcart-popup {
  width: 620px;
  position: absolute;
  top: 410px;
  left: 50%;
  margin-left: -310px;
  padding-top: 68px;
  border-top: 7px solid black;
  background: pink;
  
  display: none;
}

.addcart-message {
  padding-left: 180px;
  padding-right: 60px;
  background: white;
  font-family: "Cuprum", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 68px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  background: red;
}

.addcart-bottom {
  background: green;
  padding-top: 37px;
  padding-bottom: 37px;
}

.addcart-buttons-wrap {
  width: 460px;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: space-between;
}

.addcart-popup .content-btn {
  width: 220px;
}

.addcart-popup .white-button {
  width: 220px;
}







